<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinian.autooa.dao.autocode.SysPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.yinian.autooa.model.SysPermission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="permission_code" property="permission_code" jdbcType="VARCHAR" />
    <result column="permission_name" property="permission_name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, permission_code, permission_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yinian.autooa.model.SysPermissionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="page != null" >
      limit #{page.begin} , #{page.length}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yinian.autooa.model.SysPermissionExample" >
    delete from sys_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yinian.autooa.model.SysPermission" >
    insert into sys_permission (id, permission_code, permission_name
      )
    values (#{id,jdbcType=INTEGER}, #{permission_code,jdbcType=VARCHAR}, #{permission_name,jdbcType=VARCHAR}
      )
    <selectKey resultType="int" keyProperty="id" order="AFTER" >
      <![CDATA[SELECT LAST_INSERT_ID() AS id ]]>
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.yinian.autooa.model.SysPermission" >
    insert into sys_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="permission_code != null" >
        permission_code,
      </if>
      <if test="permission_name != null" >
        permission_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="permission_code != null" >
        #{permission_code,jdbcType=VARCHAR},
      </if>
      <if test="permission_name != null" >
        #{permission_name,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey resultType="int" keyProperty="id" order="AFTER" >
      <![CDATA[SELECT LAST_INSERT_ID() AS id ]]>
    </selectKey>
  </insert>
  <select id="countByExample" parameterType="com.yinian.autooa.model.SysPermissionExample" resultType="java.lang.Integer" >
    select count(*) from sys_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_permission
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.permission_code != null" >
        permission_code = #{record.permission_code,jdbcType=VARCHAR},
      </if>
      <if test="record.permission_name != null" >
        permission_name = #{record.permission_name,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_permission
    set id = #{record.id,jdbcType=INTEGER},
      permission_code = #{record.permission_code,jdbcType=VARCHAR},
      permission_name = #{record.permission_name,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yinian.autooa.model.SysPermission" >
    update sys_permission
    <set >
      <if test="permission_code != null" >
        permission_code = #{permission_code,jdbcType=VARCHAR},
      </if>
      <if test="permission_name != null" >
        permission_name = #{permission_name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yinian.autooa.model.SysPermission" >
    update sys_permission
    set permission_code = #{permission_code,jdbcType=VARCHAR},
      permission_name = #{permission_name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatchSelective" parameterType="java.util.List" >
    insert into sys_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      permission_code,
      permission_name,
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator="," >
      <trim prefix=" (" suffix=")" suffixOverrides="," >
        #{item.id,jdbcType=INTEGER},
        #{item.permission_code,jdbcType=VARCHAR},
        #{item.permission_name,jdbcType=VARCHAR},
      </trim>
    </foreach>
  </insert>
</mapper>